<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg" style="border-radius: 15px;">
        <h3 class=" mb-md-3">Login</h3>
        <form>
            <div class="form-group ">
              <label for="exampleInputEmail1" pattern="[^@]*[^@]*" >Email address</label>
              <input type="email" class="form-control form-check" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" aria-required="true">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-md-3 ">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember Me</label>
              </div>
            <button type="submit" class="btn btn-primary col-lg-12">Log In</button>
          </form>

    </div>
</section>