<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        At <b>Future Learn</b>, our mission is to continuously
         innovate the best ways to train the next generation 
         of developers and to transform the the way tech education works.
    </p>
    <p>
       <b>Future Learn</b>  was founded in 2016 to bridge the 
        knowledge gap between colleges and industry. 
        Founded by <b>Dipendra Kumar Shah</b> and <b>Akhil Kompella</b>, 
        Future Learn boasts of world-class teaching faculties.
        
    </p>
    <p>
        
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>