<section class="signup">
    <div class="login col-lg-4 m-auto shadow-lg" style="border-radius: 15px;">
        <h3 class=" mb-md-3">Sign Up</h3>

        <form class="login">
         
            <div class="row">
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                      <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" />
                  </div>

                </div>
                <div class="col-md-6 mb-2">

                  <div class="form-outline">
                      <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-2 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                      <label for="birthdayDate" class="form-label">Birthday</label>
                    <input type="date" class="form-control " id="birthdayDate" />
                  </div>

                </div>
                <div class="col-md-6 mb-2">

                  <h6 class="mb-2 pb-1">Gender: </h6>
                  <div class="form-check form-check-inline">
                      <label class="form-check-label" for="maleGender">Male</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" checked/>
                  </div>

                  <div class="form-check form-check-inline">
                      <label class="form-check-label" for="femaleGender">Female</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" />
                  </div>


                  <div class="form-check form-check-inline">
                      <label class="form-check-label" for="otherGender">Other</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                      value="option3" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-2 pb-2">

                  <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" id="emailAddress" class="form-control" />
                  </div>

                </div>
                <div class="col-md-6 mb-2 pb-2">

                  <div class="form-outline">
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" id="phoneNumber" class="form-control " />
                  </div>

                </div>
              </div>
              <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-md-3 ">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">
                    
                    I agree all statements in <a href="">Terms of service</a>.
                </label>
              </div>

                <button type="submit" class="btn btn-primary col-lg-12">Sign Up</button>


        </form>

    </div>
</section>