<section class="home">
    <div>
        <img src="assets/back.jpg">

        <div class="homecontent">
            <h1>Start Learning For bright Future</h1>
            <button class="explore btn-outline-dark" routerLink="course"><b>Discover Courses</b><span class="icon-right"></span>
                <span class="icon-right after "></span></button> &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <a routerLink="course" class="btn btn-lg btn-light">Discover Courses</a> &nbsp; -->
            <!-- <a routerLink="joinnow" class="btn btn-lg btn-primary">Join Now</a> -->

        </div>
    </div>
</section>
